<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container my-5">
    <h3> Update lesson</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form th:action="@{/lessons/{id}/edit(id=${lesson.getLessonId()})}" th:object="${lesson}" th:method="POST">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="title" class="col-form-label">title</label> <input type="d" th:field="*{title}" class="form-control" id="title" placeholder="title" ></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="start" class="col-form-label">start</label> <input type="datetime-local" th:field="*{startLesson}" class="form-control" id="start" placeholder="start HH:mm dd/MM/yyyy"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="end" class="col-form-label">end</label> <input type="datetime-local" th:field="*{endLesson}" class="form-control" id="end" placeholder="end HH:mm dd/MM/yyyy"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="class-room" class="col-form-label">Class room</label> <input type="text" th:field="*{classRoom.number}" class="form-control" id="class-room" placeholder="Class room"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update lesson">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>