<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>students</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>


<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${groups}" class="container my-5">
                <p class="my-5">
                    <a th:href="@{groups/new}" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add Group</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No Group yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Abbreviate</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="group : ${groups}">
                                <td th:text="${group.getAbbreviate()}"></td>
                                <td th:text="${group.getDescription()}"></td>

                                <td><a th:href="@{groups/{id}/edit(id=${group.getGroupId()})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{groups/{id}/delete(id=${group.getGroupId()})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:href="@{/}" class="btn-primary">
                            <i class="align-self-auto">Home</i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>