<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
</head>
<body>
Welcome to university!
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link"  data-toggle="tab" th:href="@{/students/1}"role="tab" aria-controls="nav-home" aria-selected="true">Students</a>
        <a class="nav-link"  data-toggle="tab" th:href="@{/educators}" role="tab" aria-controls="nav-profile" aria-selected="false">Teachers</a>
        <a class="nav-link"  data-toggle="tab" th:href="@{/cards/page/1}" role="tab" aria-controls="nav-contact" aria-selected="false">Cards</a>
        <a class="nav-link"  data-toggle="tab" th:href="@{/lessons}" role="tab" aria-controls="nav-contact" aria-selected="false">Lesson</a>
        <a class="nav-link"  data-toggle="tab" th:href="@{/groups}" role="tab" aria-controls="nav-contact" aria-selected="false">Groups</a>
        <a class="nav-link"  data-toggle="tab" th:href="@{/classrooms}" role="tab" aria-controls="nav-contact" aria-selected="false">Class Room</a>
    </div>
</nav>

</body>
</html>